<div class="padding-padrao">
  <h1>Vagas</h1>

  <div class="vaga">
    <p>Vaga: <strong>{{ vaga.nome }}</strong></p>
    <p>Descrição: <strong>{{ vaga.descricao }}</strong></p>
    <p>Local: <strong>{{ vaga.local }}</strong></p>
    <p>Competencias: <strong *ngFor="let competencia of competencias">
      <br>
      {{ competencia.nome }} -
      {{ competencia.nivel }}
    </strong></p>
  </div>

  <div class="mb-3">
    <!--Temporario-->
    <input [(ngModel)]="idCandidato" type="number" class="form-control" placeholder="id do Candidato">
  </div>

  <button (click)="dislike()" class="btn btn-danger">Deslike</button>
  <button (click)="like()" class="btn btn-primary">Like</button>
</div>
